<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" aria-current="page" href="{% url 'projects_page' %}">Projects</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Project</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'create_project' %}">Add Project</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Update</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Delete</a>
    </li>
</ul>